html,
body {
	width: 100%;
	height: 100%;
}

body {
	background: #fff url('/template/images/error.png') center center no-repeat;
	background-size: cover;
	font: 12px 'Lucida Grande', 'Arial', 'Tahoma', 'Verdana', 'Sans-serif';
	color: #444;
}

span {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 40pt;
	line-height: 80pt;
	font-weight: bold;
	color: #fff;
	background: #000;
	width: 800px;
	text-align: center;
	margin: -100px 0 0 -400px;
}