body,
html {
	width: 100%;
	min-height: 100%;
}

body {
	font: 12px 'Lucida Grande', 'Arial', 'Tahoma', 'Verdana', 'Sans-serif';
	color: #444;
	background: #fff url('/template/images/logotype.png') center center no-repeat;
}

.container {
}