.pags-list {
	overflow: hidden;
	margin-top: 10px;
}
.pags-list a,
.pags-list span {
	display: inline-block;
	width: 30px;
	background: #ddd;
	text-decoration: none;
	color: #444;
	text-align: center;
	line-height: 30px;
	border-radius: 15px;
	margin-right: 3px;
}
.pags-list a:hover {
	background: #333;
	color: #fff;
}
.pags-list span {
}
.pags-list span.active {
	background: #2c94b7;
	color: #fff;
}
.pags-list span.delims {
	background: #eee;
}